@media (min-width:800px){
    .container1{
  display:flex;
  justify-content: space-between ;
  
  
  }
  
}
  
  .container1 div{
    border: 1px #ccc solid;
    padding: 10px;
}
 
  
  
  
  .box1{
      
    flex-basis: 20%;
      
  }
  
  .box2{
      
    flex-basis: 20%;
      
  }
  
  .box3{
     
      flex-basis: 20%;
  }
  
  
  .flexboxHeadings{
    font-size: 15px;
    text-align: center;
    
    
    
  }
  

#mainHeader{
    text-align:center;
}

  
  .italicText{
    font-style: italic;
  }
  
  .bodyBackGround{
    background-color: Linen;
  }
  
  
  
  
  
  
  
  
  